root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = false
max_line_length = off
tab_width = 4
trim_trailing_whitespace = false

[{CMakeLists.txt,*.cmake}]
indent_style = tab
insert_final_newline = true
trim_trailing_whitespace = true

[*.{c,cpp,cppm,h,hpp}]
indent_style = tab
insert_final_newline = true
trim_trailing_whitespace = true

[*.md]
insert_final_newline = true
